.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4D4D4D;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 16px 9px 16px 0px;
  border-bottom: 1px solid #ededed;
  transition: color 0.4s;
}

.item-description {
  width: 85%;
  text-align: left;
  word-break: break-all;
  font-weight: 700;
}

.item-complete {
  text-decoration: line-through;
  color: #d9d9d9;
}

.icon-container {
  margin-right: 15px;
}

.todo-item svg {
  color: red;
  display: none;
  font-weight: bold;
  position: absolute;
}

.todo-item svg:hover {
  color: rgb(161, 16, 16);
  cursor: pointer;
}

.todo-item:hover svg {
  display: block;
}

.tick-container {
  margin: 10px;
}

input[type="checkbox"] {
  appearance: none;
  display: none;
}

.label-checkbox {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: block;
  position: relative;
  border: 1px solid #4D4D4D;
  cursor: pointer;
}

input[type="checkbox"]:checked+.label-checkbox:after {
  content: '\2714';
  font-size: 15px;
  position: absolute;
  top: 0px;
  left: 4.5px;
  color: green;

}